body {
  background: #0f1115;
  color: white;
  font-family: sans-serif;
  padding: 40px;
}

#repos {
  display: grid;
  gap: 20px;
}

.repo-card {
  background: #1a1d24;
  padding: 25px;
  border-radius: 16px;
  color: white;
  text-decoration: none;
  display: block;
}

.repo-card:hover {
  background: #222733;
}

.card {
  background: #1a1d24;
  padding: 20px;
  border-radius: 14px;
  margin-top: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.buttons a {
  background: #2563eb;
  color: white;
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 10px;
  font-weight: bold;
}

.back {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}